<div class="wrapper fadeInDown">
  <div id="formContent">
    <form #formData="ngForm" (ngSubmit)="addEmployee(formData)">
      <input type="text" ngModel name="employeeId" id="login" class="fadeIn second"  placeholder="employeeId">
      <input type="text" ngModel class="fadeIn third" name="firstName" placeholder="firstName">
      <input type="text"  ngModel class="fadeIn third" name="lastName" placeholder="lastName">
      <input type="text" ngModel  class="fadeIn third" name="emailId" placeholder="emailId">
      <input type="text" ngModel class="fadeIn third" name="mobileNumber" placeholder="mobileNumber">
      <input type="text" ngModel  class="fadeIn third" name="address" placeholder="address">
      <button class="btn btn-primary" >Add Employee</button> 
    </form>

  
  </div>
</div>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Address</th>
      </tr>
    </thead>
    <!-- {{employees|json}} -->
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.emailId}}</td>
        <td>{{employee.mobileNumber}}</td>
        <td>{{employee.address}}</td>
        <td> <span class="glyphicon glyphicon-remove" (click)="deleteEmployee(employee)"></span></td>
        <td> <span class="glyphicon glyphicon-edit" (click)="deleteEmployee(employee)"></span></td>
      
      </tr>
      
    </tbody>
  </table>
</div>